.ag-header-cell.align-right .ag-header-cell-label {
  text-align: right;
}
.ag-cell.align-right {
  text-align: right;
}
.ag-header-cell.align-center .ag-header-cell-label {
  text-align: center;
}
.ag-cell.align-center {
  text-align: center;
}

.grid-panel {
  padding-left: 10px;
  padding-right: 10px;
}
.grid-panel-body {
  position: relative;
}
div.mask {
  position:           absolute;
  z-index:            1;
  left:               0;
  width:              100%;
  height:             100%;
  background-color:   rgba(0,0,0,0.15);
}
