.red-tooltip + .tooltip.top > .tooltip-inner {
  background-color: red;
  color: yellow;
}

.red-tooltip + .tooltip.top > .tooltip-arrow {
  border-top-color: red;
}

.red-tooltip + .tooltip.bottom > .tooltip-inner {
  background-color: red;
  color: yellow;
}
.red-tooltip + .tooltip.bottom > .tooltip-arrow {
  border-bottom-color: red;
}

.red-tooltip + .tooltip.right > .tooltip-inner {
  background-color: red;
  color: yellow;
}
.red-tooltip + .tooltip.right > .tooltip-arrow {
  border-right-color: red;
}
