.w3-safety-red
{color:#fff;background-color:#bd1e24}

.w3-safety-orange
{color:#fff;background-color:#e97600}

.w3-safety-yellow
{color:#fff;background-color:#f6c700}

.w3-safety-green
{color:#fff;background-color:#007256}

.w3-safety-blue
{color:#fff;background-color:#0067a7}

.w3-safety-purple
{color:#fff;background-color:#964f8e}

.App-Header {
  width: 100%;
  top: 0;
  height: 45px;
  position: fixed;
  z-index: 100000;
}

.Content-Body {
  overflow-y:none;
  margin-top: 45px;
}

.hm-side-nav {
  margin-top:0px;
  z-index: 100002;
}

.form-error {
  font-weight: 700;
  color: #700;
}
.form-error:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\F06A';
  margin-right: 5px;
}
