
.navbar {
  margin-bottom: 10px;
}
.content-body {
  overflow-y: auto;
  padding-top: 61px;
}

.form-error {
  font-weight: 700;
  color: #700;
  padding-left: 8px;
}
.form-error > .glyphicon {
  padding-right: 8px;
}

.grid-panel {
  padding-left: 10px;
  padding-right: 10px;
}
.card-title {
  font-size: 20px;
}
.grid-panel-body {
  border: solid gray 1px;
}
.btn-toolbar {
  padding-bottom: 10px;
}
.ag-bootstrap .ag-header {
  border-bottom: 2px solid #000;
}
.ag-bootstrap .ag-ltr .ag-header-cell {
    border-right: 1px solid gray;
}
.ag-bootstrap .ag-ltr .ag-cell-no-focus {
    border-left: none;
    border-right: 1px dotted gray;
}
@media (max-width: 992px) {
  .payment-history-panel {
    margin-top: 20px;
  }
}
.payment-history-panel > .panel-body {
  max-height: 500px;
  overflow-y: auto;
}
.payment-history-ledger-header {
  font-weight: bolder;
  text-decoration: underline;
}
.widget-row, .widget-header-row {
  margin-left: 0px;
  margin-right: 0px;
}
.panel > .panel-body {
  padding: 10px;
}
.widget-header-row {
  font-weight: bolder;
  border-bottom: 1px solid black;
}
.widget-row:nth-child(odd) {
  background-color: rgb(238,238,238);
}
